            <div class="dropdown">
  <button class="dropdown-toggle">Condiciones</button>
  <div class="dropdown-content">
    <p>Puedes devolver el artículo por cualquier motivo en estado nuevo y sin usar, sin gastos de devolución.</p>
  </div>
</div>