{% assign inventory_quantity = card_product.selected_or_first_available_variant.inventory_quantity %}

{% if inventory_quantity < 10 %}
  <br>
  <span>
    <span style="color:#B12704;font-size: 90%">
      <b>Sólo queda(n) {{ inventory_quantity }} en stock</b>
    </span>
  </span>
{% endif %}


<div class="a-row">
  <label class="a-form-label"> <b>Color:</b>
  </label> 
  <span class="selection">Rojo</span>
</div>



{% if card_product.metafields.custom.variants %}
  {% assign variantes = card_product.metafields.custom.variants | json %}

  <div class="image-row">
    {% for producto in variantes.productos %}
      <div class="image-container">
        <img src="{{ producto.ImageUrl }}" alt="{{ producto.ColorName }}" class="imgSwatch">
      </div>
    {% endfor %}
  </div>
{% endif %}


<div class="image-row">
    <div class="image-container">
      <img src="https://fsrose.es/cdn/shop/files/30.png?v=1693339094" alt="Oro rosa-06-jun" class="imgSwatch">
    </div>
    <div class="image-container">
      <img src="https://fsrose.es/cdn/shop/files/33.png?v=1693339074" alt="Oro rosa-06-jun" class="imgSwatch">
    </div>
    <div class="image-container">
      <img src="https://fsrose.es/cdn/shop/files/FSRose.es_068f0a8b-4c81-474f-8ceb-f729b3c8dbeb.png?v=1693339108" alt="Oro rosa-06-jun" class="imgSwatch">
    </div>
    <div class="image-container">
      <img src="https://fsrose.es/cdn/shop/files/Disenosintitulo_34.png?v=1693339102" alt="Oro rosa-06-jun" class="imgSwatch">
    </div>
    <div class="image-container">
      <img src="https://fsrose.es/cdn/shop/files/FSRose.es_2.png?v=1693339086" alt="Oro rosa-06-jun" class="imgSwatch">
    </div>
</div>

