<span style="color:black;">
  <b>Devoluciones GRATIS</b>
</span>

<span id="deliveryDate" style="color:black;">
  <br>
  {% render 'fsrose_shipment' %}
</span>

{% render 'fsrose_stock_main_product', card_product:product %}
