<span id="freeReturns" style="color:black;">
  <b>Devoluciones GRATIS</b>
</span>

<br>

<span id="deliveryDate" style="color:black;">
</span>

<br>

<span id="messageDelivery"  style="color: rgb(0, 118, 0); font-size: 90%;">                                                       
</span>

{% render 'fsrose_stock_main_product', card_product:product %}
