<span id="freeReturns" style="color:black;">
  <b>Devoluciones GRATIS</b>
</span>

<br>

<span id="deliveryDate" style="color:black;">
  {% render 'fsrose_shipment' %}
</span>


<span id="messageDelivery" style="color:black;">
  
</span>

{% render 'fsrose_stock_main_product', card_product:product %}
