{% assign inventory_quantity = card_product.selected_or_first_available_variant.inventory_quantity %}

{% if inventory_quantity < 10 %}
  <br>
  <span>
    <span style="color:#B12704;font-size: 90%">
      <b>Sólo queda(n) {{ inventory_quantity }} en stock</b>
    </span>
  </span>
{% endif %}

  <br>
  
  <span>
    <span style="font-size: 90%">
      <b>Si deseas incluir una carta en tu pedido o necesitas otra fecha de entrega diferente, no dudes en contactarnos a través de WhatsApp (Abajo a la izquierda)</b>
    </span>
  </span>